<main>
    <article>
        <h2>Crie sua conta</h2>
        <form action="/registrar" method="post">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome" required>
            </div>
            
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="E-mail" required>
            </div>

            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
            </div>
            <input type="submit" value="Registrar">
        </form>
    </article>
</main>

<footer>
    <p>Criado por <a href="https://github.com/tomaslmz">Tomás</a></p>
</footer>