<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
    }

    body {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }

    header {
        position: fixed;
        left: 0px;
        width: 100vw;
        background-color: black;
        text-align: center;
    }

    header h1 {
        color: white;
    }

    main {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background-color: rgb(216, 216, 216);
        padding: 20px;
        border-radius: 10px;
    }

    main p {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    main a {
        color: white;
        text-decoration: none;
        background-color: black;
        border-radius: 15px;
        margin-left: 20px;
        padding: 10px;
    }

    main a:hover {
        color: white;
        background-color: rgb(77, 77, 77);
    }

    footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

    footer > p {
        background-color: black;
        width: 100vw;
        color: white;
        text-align: center;
    }

    footer a {
        color: white;
        font-weight: bolder;
    }

    footer a:hover {
        color: rgb(197, 196, 196);
    }
</style>
<header>
    <h1>Rede social</h1>
</header>
<main>
    <h2>Olá, seja bem-vindo!</h2>
    <p>Escolha a opção que desejar</p>
    <a href="#">Registrar</a>
    <a href="#">Login</a>
</main>
<footer>
    <p>Criado por <a href="https://github.com/tomaslmz">Tomás</a></p>
</footer>